<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Infinity Media Labs Employee List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<div class="container">
    <div>
        <img th:src="@{/ui/images/iml-510x265.png}" height="65" width="125" alt="logo">
        <div style="padding-top:10px">
            <strong>Infinity Media Labs</strong>
            <div style="padding-left: 10px;"><strong>Employee Portal</strong></div>
        </div>
    </div>
	<div class="col-md-4">
		<h1>Employees</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
    
    <div style="padding-top:20px;"></div>

    <div class="col-md-4" style="padding-bottom:20px">
      <form action="#" onsubmit="searchByEmployeeId(this)"  method="get"  >

        <div class="input-group">
            <input class="form-control" id="system-search" name="q" placeholder="Search By Employee Id" required>
            <span class="input-group-btn">
            <button type="submit"  class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
      </form>
    </div>

    <div style="padding:0 20px">
        <div th:if ="${#httpServletRequest.getParameter('msg')}" class="col-md-4" style="padding-bottom:20px">
            <div style="color:red;padding-top:10px;">Employee ID Not Found!</div>
        </div>
    </div>
    <table class="table table-striped">
		<tr>
            <th>Employee ID</th>
		    <th>Name</th>
		    <th>DOB</th>
		    <th>Start Date</th>
		    <th>Status</th>
		    <th>Actions</th>
		</tr>  
    	<tr th:each = "employee : ${employees}">
            <td th:text="${employee.id}"></td>
			<td th:text="${employee.firstName} + ' ' + ${employee.middleInitial} + ' ' + ${employee.lastName}"></td>
			<td th:text="${employee.dateOfBirth}"></td>
			<td th:text="${employee.dateOfEmployment}"></td>
			<td th:text="${employee.status}"></td>
    		<td>
				<div th:if ="${employee.status} == 'ACTIVE'">
				<a th:href="@{/ui/edit/{id}(id=${employee.id})}" class="btn btn-primary btn-xs">Edit</a>
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/ui/delete/{id}(id=${employee.id})}"
				   class="btn btn-danger btn-xs">Delete</a>
				</div>
    		</td>
    	</tr>
    </table>
    <a href="/ui/add" class="btn btn-primary">Add Employee</a>
		
	</div>    
</div>
</body>

<script type="text/javascript">
    function searchByEmployeeId(element){
       var id =  document.getElementById('system-search').value;
       url = "/ui/find/" + id;
       $("#system-search").attr("action", url);
       $("#system-search").method("get") ;
       $("#system-search")[0].submit();
    }
</script>
</html>